.top-container{
    background-color:hsl(145, 60%, 88%);
    position: relative;
    padding-top: 100px;
}
body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
   font-size: 200%;
   
}
h1{
    font-size: 5.625rem;
     margin-top: 50px auto 0 auto;
     font-family:'Sacramento', cursive ;
     color: #66BFBF;
     /* line-height: 2; */

     /* width: 10%;
     margin: 0 auto 0 auto; */
}

h2{
     font-size: 2.5rem;
    font-family:'Montserrat', sans-serif ;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
 .middle-container{
    margin: 100px 0;
}
 .bottom-container{
   background-color:#11cdd4;
   padding: 50px 0 20px;
} 
.span{
    text-decoration: underline;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover{
    color: #EAF6F6;
}

 /* .first-cloud{
    position: relative;
    right: 200px;
    top: 50px;
}  */

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
 
}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
/* line-height: 2; */
}
.code-img{
    width: 25%;
    float: left;
   margin-right: 30px;
}
.chicken-img{
    width:25%;
    float: right;
    margin-left: 30px;
   

}
img{
    border-radius: 50%;
}
/* .code-skill-description{
    clear: left;
}
.wings-description{
    clear: right;
} */
/* use floating property only during wrapping */
hr{

    border-top-style: dotted;
    border-color:#EAF6F6;
    border-width: 6px;
    border-bottom: none;
    height: 0px;
    width: 4%;
    margin: 100px auto;
}
.intro{
    width: 30%;
    margin: auto;
}

p{
    line-height: 2;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
color: #EAF6F6;
font-size: 0.75em;
padding: 20px 0px ;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }